html{
  background-color: blanchedalmond;
}

#sAddr{
  width: 80%;
  border: 2px solid rgb(101, 217, 238);
  font-size: 15px;
  margin-top: 20px;
}



.sendButton{
  width:fit-content;
  height: auto;
  font-size: 50px;
  margin-left: 20px;
  margin-right: 0px;
  color: darkorange;
  display: inline-block;
}

.sendButton:hover{
  color: hsl(56, 22%, 15%);
}

#revData{
  border: 2px solid rgb(24, 24, 3);
  width: 100%;
  height: 50%;
  font-size: 20px;
  margin-top: 20px;
  word-break: break-all;
  overflow: auto;
  white-space: pre-wrap;

}

#sData{
  width: 60%;
  height: 50%;
  margin-top: 20px;
  border: 2px solid yellowgreen;
  font-size: 20px;
}

#dataDiv{
  width: 100%;
  height: 500px;
}

#clientAddr{
  width: auto;
  word-break: break-all;
}