html,body {
  /* background-color:whitesmoke; */
  user-select: none;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  margin: 0;
  height: 100%;
}

#sAddr {
  width: 80%;
  border: 2px solid rgb(101, 217, 238);
  font-size: 15px;
  margin-top: 5px;
  user-select: text;
}

#fileAddr {
  border: 2px solid rgb(22, 122, 189);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 0px;
}

.sendButton {
  width: fit-content;
  padding: 3px;
  cursor: pointer;
  font-size: large;
  color: black;
  background-color: rgba(202, 20, 20, 0.24);
  border-radius: 8px;
  vertical-align: middle;
}

.sendButton:hover {
  color: hsl(56, 22%, 15%);
  background-color: darkseagreen;
}

.sendButton:active {
  background-color: rgb(220, 200, 20);
}

#revData {
  text-align: left;
}

#sData {
  vertical-align: middle;
  margin-top: 20px;
  border: 2px solid yellowgreen;
  font-size: 20px;
  user-select: text;
}

label {
  color: white;
  font-size: large;
  padding: 3px;
  background-color: rgba(212, 12, 55, 0.459);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
  user-select: none;
}

#clientAddr {
  width: auto;
  word-break: break-all;
  border: 2px solid skyblue;
  line-height: 2;
  user-select: text;
}

div {
  margin: 5px;
  text-align: center;
}

li {
  border: 2px solid palevioletred;
  border-left: 0px;
  margin-bottom: 5px;
  white-space: pre-wrap;
  user-select: text;
}